*{
  padding : 0;
  margin : 0;
  box-sizing: border-box;
}

body{
  background-color: #CEDAFF;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container{
  width: 60%;
  background-color: #f6f2f8;
  margin: auto;
  padding: 40px;
  box-shadow: -2px 3px 23px #6b4aeed6;
  border-radius: 40px;
  height: 500px;
  overflow: auto ;
  
}

.container::-webkit-scrollbar{
  background-color: transparent !important;
  width: 2px;
  
  
}
.container::-webkit-scrollbar-thumb{
  background: #6b4aeed6;
  border-radius: 20px;
  
  
}


.userDetails{
  margin-top : 100px
}



@media (max-width : 800px) {
  .container{
    width: 90%;
  
    
  }
}